@import "tailwindcss";

body {
	margin: 0;
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.adamina-regular {
  font-family: "Adamina", serif;
  font-weight: 400;
  font-style: normal;
}